// Custom Theme colors
$green-lightest: #edf2e7 !default;
$green-light:   #ABDB6C !default;
$green-dark:    #7AA054 !default;

$gray-lightest: #f7f7f9 !default;
$gray-dark: #626262 !default;
$gray-darkest: #2E2E2E !default;

$orange-light: #f9eee6 !default;
