@mixin backface-visibility( $visibility ) {
  -webkit-backface-visibility: $visibility;
  -moz-backface-visibility: $visibility;
  backface-visibility: $visibility;
}

@mixin border-radius( $radii... ) {
  -webkit-border-radius: $radii;
  -moz-border-radius: $radii;
  border-radius: $radii;
}

@mixin box-shadow( $shadows... ) {
  -webkit-box-shadow: $shadows;
  -moz-box-shadow: $shadows;
  box-shadow: $shadows;
}

@mixin perspective( $length ) {
  -webkit-perspective: $length;
  -moz-perspective: $length;
  perspective: $length;
}

@mixin transform( $functions... ) {
  -webkit-transform: $functions;
  -moz-transform: $functions;
  -ms-transform: $functions;
  -o-transform: $functions;
  transform: $functions;
}

@mixin transform-origin-x( $value ) {
  -webkit-transform-origin: $value;
  -moz-transform-origin: $value;
  -ms-transform-origin: $value;
  -o-transform-origin: $value;
  transform-origin: $value;
}

@mixin transition( $properties... ) {
  -webkit-transition: $properties;
  -moz-transition: $properties;
  -o-transition: $properties;
  transition: $properties;
}

@mixin transition-duration( $duration... ) {
  -webkit-transition-duration: $duration;
  -moz-transition-duration: $duration;
  -ms-transition-duration: $duration;
  -o-transition-duration: $duration;
  transition-duration: $duration;
}

@mixin transition-property( $properties... ) {
  -webkit-transition-property: $properties;
  -moz-transition-property: $properties;
  -ms-transition-property: $properties;
  -o-transition-property: $properties;
  transition-property: $properties;
}
