@import '_colors';
@import '_mixins';
@import '_spacing';

@font-face {
    font-family: 'Academic';
    src: url(../fonts/Academic.ttf);
}

// CLASSES

.bg-transparentish {
    background-color: rgba(0, 0, 0, 0.1);
}

.card-img-overlay > .card-title {
    text-shadow: -1px 1px 1px black, 0 1px 1px black;
}

.card-well {
    background-color: $light_gray;
}

.font-academic {
    font-family: 'Academic';
}

.navbar-brand {
    &.font-academic {
        font-size: 3rem;
        line-height: 3rem;
    }
}

.sticky-top {
    top: 5rem;
}
